<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Fish History</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
    <div class="container">
        <h2>Fish History</h2>

        <table class="table table-striped">
            <tr>
                <th>Transaction ID</th>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Weight</th>
                <th>Price</th>
                <th>Deleted</th>
            </tr>
            <tr th:each="fishHistory : ${history}">
                <td th:text="${fishHistory.txId}">Salmon</td>
                <td th:text="${#dates.format(new java.util.Date({fishHistory.timestamp.seconds.low}))}">2</td>
                <td th:if="${fishHistory.isDelete == 'false'}" th:text="${fishHistory.value.type}">3</td>
                <td th:if="${fishHistory.isDelete == 'false'}" th:text="${fishHistory.value.weight}">3</td>
                <td th:if="${fishHistory.isDelete == 'false'}" th:text="${fishHistory.value.price}">3</td>
                <td th:if="${fishHistory.isDelete == 'true'}"></td>
                <td th:if="${fishHistory.isDelete == 'true'}"></td>
                <td th:if="${fishHistory.isDelete == 'true'}"></td>
                <td th:text="${fishHistory.isDelete}">3</td>

            </tr>
        </table>
    </div>
</body>

</html>
