<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Fish overview</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
    <div class="container">
        <div th:if="${channel == 'channel1'}">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/products?channel=channel1}"><font color="green">North American Fish</font></a></li>
                <li><a th:href="@{/products?channel=channel2}">European fish</a></li>
            </ul>
        </div>
        <div th:if="${channel == 'channel2'}">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/products?channel=channel1}">North American Fish</a></li>
                <li><a th:href="@{/products?channel=channel2}"><font color="green">European fish</font></a></li>
            </ul>
        </div>
        <br>
        <br>


        <br>
        <br>
        <div th:if="${not #lists.isEmpty(fishes)}">
            <h2>Fish</h2>
            <table class="table table-striped">
                <tr>
                    <th>Type</th>
                    <th>Weight</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>History</th>
                </tr>
                <tr th:each="fish : ${fishes}">
                    <td th:text="${fish.type}">Salmon</td>
                    <td th:text="${fish.weight}">2</td>
                    <td th:text="${fish.price}">3</td>
                    <td><a th:href="${'/blockchain/products/edit?id=' + fish.id + '&channel=' + channel}" class="btn btn-default">Edit</a></td>
                    <td><a th:href="${'/blockchain/products/delete?id=' + fish.id + '&channel=' + channel}" class="btn btn-danger">Delete</a></td>
                    <td><a th:href="${'/blockchain/products/getHistory?id=' + fish.id + '&channel=' + channel}" class="btn btn-default">History</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
