<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:switch="${fishes}">
        <h2 th:case="null">No fish yet!</h2>
        <div th:case="*">
            <h2>Fish</h2>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Weight</th>
                        <th>Price</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="fish : ${fishes}">
                        <td th:text="${fish.type}"></td>
                        <td th:text="${fish.weight}"></td>
                        <td th:text="${fish.price}"></td>
                        <td><a th:href="@{/fish/delete?id={id}(id=${fish.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>      
        <p><a href="/blockchain/createFish">Add a new fish</a></p>
        
         <p><a href="/blockchain/queryFish">Query for fish</a></p>
    </div>

</html>